@media (max-width:992px) {
	#found_content{
		display: none;
	}
	
	.row1 > div{
		font-size: 13px;
	}
	
	.row1 div span{
		font-size: 13px;
	}
	
	.row1 div button{
		font-size: 13px;
	}
}

@media (min-width:768px) and (max-width:991px) {
	#found_content{
		display: none;
	}
	
	.row1 > div{
		font-size: 11px;
	}
	
	.row1 div span{
		font-size: 11px;
	}
	
	.row1 div button{
		font-size: 11px;
	}
	#nav_content li a{
		text-align: center;
		display: block;
		width: 100px;
		color: #000000;
	}
	#logo{
		margin-left: 30px;
		display: inline;
		font-weight: bold;
		height: 90px;
		line-height: 90px;
		text-align: center;
		color: orangered;
		font-size: 30px;
	}
	
	.h2_hot{
		font-size: 30px;
		color: #474141;
		margin-bottom: 10px;
	}
	
	.h5_hot{
		color: #9da0a1;
		font-size: 13px
	}
	
	.row_area{
		margin-top: 25px;
		margin-bottom: 50px;
	}
	
	.row_area h5{
		margin-top: 20px;
		height: 35px;
		line-height: 35px;
		width: 95px;
	}
	
	.row_area p{
		margin-top: 10px;
		font-size: 13px;
		width: 100%;
	}
	
	.row_area a img{
		margin-top: 30px;
		margin-bottom: 10px;
	}
	
	.footer_right{
		padding-top: 40px;
	}
	
	.footer_right ul li{
		font-size: 14px;
	}
}

@media (max-width:767px) {
	#found_content{
		display: none;
	}
	.row1 > div{
		font-size: 10px;
	}
	.row1 div span{
		font-size: 10px;
	}
	.row1 div button{
		width: 45px;
		font-size: 11px;
	}
	
	.nav{
		height: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5px;
	}
	
	#nav_content li{
		width: 100%;
	}
	
	#nav_content li a{
		display: block;
		width: 100%;
		color: #000000;
	}
	#logo{
		position: absolute;
		margin-left: 30px;
		display: inline-block;
		font-weight: bold;
		height: 30px;
		line-height: 30px;
		width: 150px;
		top: -10px;
		color: orangered;
		font-size: 30px;
	}
	
	.row_nav{
		position: relative;
		padding-bottom: 20px;

	}
	
	.nav_button{
		font-size: 30px;
		position: absolute;
		top: 3px;
		right: 20px;
	}
	
	#nav_content li a:hover{
		background-color: black;
		color: white;
	}
	
	.h2_hot{
		font-size: 26px;
		color: #474141;
		margin-bottom: 10px;
	}
	
	.h5_hot{
		color: #9da0a1;
		font-size: 13px
	}
	
	.row_area{
		margin-top: 25px;
		margin-bottom: 50px;
	}
	
	.row_area h5{
		margin: 10px auto;
		height: 35px;
		line-height: 35px;
		width: 130px;
		font-size: 16px;
		background-color: #006699;
	}
	
	.row_area p{
		margin-top: 10px;
		font-size: 13px;
		width: 100%;
	}
	
	.row_area a img{
		margin-top: 30px;
		margin-bottom: 10px;
	}
	
	.footer_left{
		display: flex;
		height: 30px;
		padding-top: 35px;
	}
	
	.footer_left div{
		font-size: 25px;
	}
	
	.footer_left div:nth-child(3){
		display: none;
	}
	
	.footer_right{
		margin-top: -65px;
	}
	
	.footer_right ul li{
		margin-left: 12px;
		margin-top: 12px;
		list-style-type: none;
	}
}