*{
	font-family: "微软雅黑";
	margin: 0px;
	padding: 0px;
}

.container-fluid-header{
	height: 50px;
	background-color: #101010;
}

.row1 > div{
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	color: #C0C0C0;
}

.row1 div span{
	font-size: 14px;
}

.row1 div input{
	border-radius: 3px;
	width: 210px;
	height: 30px;
	color: #555555;
}

.row1 div a{
	text-align: center;
	color: white;
	margin-right: 10px;
}

.row1 div button{
	width: 75px;
	margin-left: 5px;
}

.form-login input {
	margin: 10px auto;
}

.checkbox_login {
	width: 50%;
	margin: auto;
}

.modal_footer{
	width: 45%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#logo{
	margin-left: 50px;
	display: inline;
	font-weight: bold;
	height: 90px;
	line-height: 90px;
	text-align: center;
	color: orangered;
	font-size: 40px;
}

.row_nav{
	position: relative;
}

.nav{
	display: flex;
	align-items: center;
	height: 90px;
}

#nav_content li a{
	text-align: center;
	display: block;
	width: 120px;
	color: #000000;
}

#nav_content li:nth-child(2) a{
    background-color: black;
	color: white;
}

#nav_content li a:hover{
	background-color: black;
	color: white;
}

.h2_hot {
	font-size: 35px;
	color: #474141;
	margin-bottom: 12px;
}

.h5_hot {
	color: #9da0a1;
	font-size: 16px;
	margin-bottom: 30px;
}

.row_area{
	margin-top: 38px;
	margin-bottom: 60px;
}

.row_area h5{
	margin-top: 30px;
	border-radius: 20px;
	background-color:coral;
	text-align: center;
	height: 38px;
	line-height: 38px;
	width: 110px;
	color: white;
}

.row_area p{
	color: #444445;
	margin-top: 35px;
	font-size: 13px;
	height: 100px;
	line-height: 25px;
	width: 80%;
}

.row_area a img{
	margin-top: 20px;
	-webkit-transition: transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.row_area a:hover img{
	-webkit-transition: transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateX(-8px);
	-ms-transform: translateX(-8px);
	-o-transform: translateX(-8px);
	transform: translateX(-8px);
}

.footer_left{
	padding: 60px;
}

.footer_right{
	padding: 50px;
}

.footer_right ul li{
	margin-top: 10px;
	list-style-type: none;
}